<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notloki.bondMonitoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.software.webview"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BondMonitoring">
        <activity
            android:name=".BondHistory"
            android:label="@string/title_activity_bond_history"
            android:theme="@style/Theme.BondMonitoring.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PersonSetup"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResultsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BondBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BondService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
    </application>

</manifest>